/*google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/* Now you can use both fonts in your styles */
h1 {
    font-family: 'Oswald', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}


/* asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

/* general style*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*general project styles*/
    color: #3a3a3a;
    font-family: Poppins;
}

}
/*header*/
header{
    background-color: lightcoral;
}

h1 {
    font-family: 'Oswald', 'Poppins', sans-serif;
}

/*main content*/
main {
    background-color: aquamarine;
    /*make main element take up and surplus space*/
    flex: 1 0 auto;
}

/* footer*/
footer{
    background-color: blueviolet;
}

